body {
    text-align: center;
    background-image: url(https://i.imgur.com/mNM168T.jpg);
}
h1 {
    color: rgb(178, 225, 69);
}

h4 {
    color:rgb(18, 184, 165)
}

.button {
    background-color: green;
}

.board {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 532px;
    cursor: pointer;
    justify-content: center;
    align-content: center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
};