body {
    text-align: center;
    background-image: url(https://i.imgur.com/mNM168T.jpg);
}

#board {
    height: 400px;
    width: 400px;
    margin: auto;
}

.tile {
    display: inline-block;
    border: 1px solid black;
    width: 32%;
    height: 32%;
    vertical-align: top;
}